@import url("fonts.googleapis.com/css2?family=Holtwood+One+SC");


html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url("../images/pitch.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
}

.title {
  color: rgb(255, 255, 255);
  font-family: 'Holtwood One SC', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 6em;
}

.button {
    display: inline-block;
    justify-content: center;
}
    

.btn.easy {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  
 
}

.btn.hard {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  
}


  .btn {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
}

.btn:hover {background: yellow;}

.how-to-play {color:white;}
.easy {color: white;}
.hard {color: white;}


/*.........................Game info....................*/

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: rgb(255, 255, 255);
  font-size: 4em;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

/*.........................Card Info........................*/

.card {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 175px;
  width: 175px;
  
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card-front {
  transform: rotateY(180deg);
}

.football {
   position: absolute;
   width: 150px;
   height: 150px;
}


.card-value {
  position: absolute;
  widows: 150px;
  height: 150px;
}

/*............................Overlay..........................*/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: orangered;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  font-family: 'Holtwood One SC', serif; 
  font-size: 6em;
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(4, auto);
  }

.game-info-container {
    flex-direction: column;
    align-items: center;
  }
}