body {
  margin: 0;
  background: url("../images/pitch.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
}

.title {
  color: rgb(255, 255, 255);
  font-family: 'Holtwood One SC', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 6em;
}

.btn.btn-primary {
  border: none;
  background-color: brown;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
    margin-left: 150px;
    text-align: center;
    background-color: brown;
    color: white;
}
    

.btn-easy {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.btn-medium {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
 }

.btn-hard {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  }




/*.........................Game info....................*/

.container {
  height: 50px;
  position: relative;
  border: none; 
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: rgb(255, 255, 255);
  font-size: 4em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

/*.........................Card Info........................*/

.card {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 150px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card-front {
  transform: rotateY(180deg);
}

.football {
   position: absolute;
   width: 150px;
   height: 150px;
}


.card-value {
  position: absolute;
  width: 150px;
  height: 150px;
}

/*............................Overlay..........................*/

.overlay-text.visible {
    
    background: brown;   
    display: flex;
    flex-direction: initial;
    justify-content: center;
    font-family: 'Holtwood One SC', serif; 
    text-align: center;
    font-size: 5em;
    border: none;
    color: white;
    z-index: 1;
}

.overlay-text {
    display: none;
    padding: 4px 20px;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 33%;
    transform: translate(10%, 10%);
    cursor: pointer;
    align-items: center;
}


.overlay-text-small {
    font-size: .5em;
}

footer  {
    background-color: brown;
    width: 200px;
    text-align: center;
    position: absolute;
    color: white;
    margin-left: 50px;
}


/*............................Different Screen Sizes..........................*/


@media only screen and (max-width: 1024px) {
   .game-container{
    grid-template-columns: repeat(6, auto);
}
}

@media only screen and (max-width: 768px) {
   .game-container{
    justify-content: left;
    grid-template-columns: repeat(4, auto);
}
    .overlay-text.visible{
    width: 400px;
    height: 400px;
    top: 100%;
    left: 25%;
}
}

@media only screen and (max-width: 600px) {
   .game-container{
    grid-template-columns: repeat(4, auto);
}
}

@media only screen and (max-width: 414px) {
   .game-container{
    justify-content: left;
    grid-template-columns: repeat(4, auto);
}
    .overlay-text.visible{
    width: 400px;
    height: 400px;
    top: 100%;
    left: 25%;
}
}

@media only screen and (max-width: 375px) {
   .game-container{
    justify-content: left;
    grid-template-columns: repeat(4, auto);
}
    .overlay-text.visible{
    width: 400px;
    height: 400px;
    top: 100%;
    left: 25%;
    
}
}

